<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 下面這行程式碼可以直接引用header.ejs的bootstrap套件 -->
		<%- include ("partials/header") %>
		<title>Fried Food</title>
	</head>
	<body>
		<!-- nav -->
		<%- include ("partials/nav")%>

		<!-- content -->
		<div class="container mt-3">
			<div class="row justify-content-around">
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/126684.jpg"
							style="height: 70vh; object-fit: cover"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">炸雞馬鈴薯脆絲炒麵</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/126685.jpg"
							style="height: 70vh; object-fit: cover"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">炸雞腿</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/126689.webp"
							style="height: 70vh; object-fit: cover"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">印尼式特調滷蛋</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/126690.webp"
							style="height: 70vh; object-fit: cover"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">印尼式炸蛋(辣)</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/126694.jpg"
							style="height: 70vh; object-fit: cover"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">印尼薑黃飯便當</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/126699.webp"
							style="height: 70vh; object-fit: cover"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">馬鈴薯脆絲</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/126700.webp"
							style="height: 70vh; object-fit: cover"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">炸天貝</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<%- include ("partials/footer")%>
	</body>
</html>
