<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 下面這行程式碼可以直接引用header.ejs的bootstrap套件 -->
		<%- include ("partials/header") %>
		<title>Pudding</title>
	</head>
	<body>
		<!-- nav -->
		<%- include ("partials/nav")%>

		<!-- content -->
		<div class="container mt-3">
			<div class="row justify-content-around">
				<div class="col-sm-4">
					<div class="card">
						<img
							src="/img/128213.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">Oreo酪梨布丁</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img
							src="/img/128214.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">Oreo起司蛋糕</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img
							src="/img/128217.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">水果果凍布丁</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/128216.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">水果牛奶布丁</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/128212.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">香蘭牛奶椰肉果凍</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/128211.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">香蘭奶油布丁</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/128218.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">Oreo巧克力布丁</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/128219.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">香蘭椰肉果凍</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-2">
					<div class="card">
						<img
							src="/img/128215.jpg"
							style="height: 70vh; object-fit: contain"
							class="card-img-top"
							alt="img"
						/>
						<div class="card-body">
							<h5 class="card-title text-center">印尼餅乾布丁</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<%- include ("partials/footer")%>
	</body>
</html>
